{{define "title"}}About{{end}}

{{define "main"}}
   <h2>About</h2>
   <p>This site desined to allow users to create small novels and so called dialogues with multiple choises.</p>
   <p>If you ever played games like Pathfinder, Rogue Trader or Baldur's Gate, you already have and idead what this is all about.</p>
   <p>First you have to create an account and sign in. After this a tool for creating stories become avaliable. You create stories with this steps: </p>
   <p>1. At the very first screen choose title, first chapter and further options, then create a story. Now you have a starting point for everything.</p>
   <p>2. You can locate through the story via dialogue window, wich represents how readers see your story, or via ID's of chapters under the chapter you editing.</p>
   <p>3. When you choose a chapter you see an empty window. Click on "edit" button and continue to write your story with tools provided. Options a divided by new line ("enter").</p>
   <p>4. You can: "add ", "addTo id ", "change id " and "delete id " and . Instead of the "id" you need and id of a chapter you want to edit. With add you simply add a new option, with addTo
    you can add a path to already eisting block, with change id you can change an option leading from this chapter to another, and delete delete a chapter you chose (and other chapters if they do not 
    have links to others chapters anymore).
   </p>
{{end}}