{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Latest Stories</h2>
{{if .DataDialogues.DialoguesToDisplay}}
 <table>
    <tr>
        <th>Title</th>
        <th>Created</th>
        <th>ID</th>
    </tr>
    {{range .DataDialogues.DialoguesToDisplay}}
    <tr>
        <td><a href='/firstblock?id={{.ID}}'>{{.StoryTitle}}</a></td>
        <td>{{humanTime .CreatedAt}}</td>
        <td>#{{.ID}}</td>
    </tr>
    {{end}}
</table>
{{else}}
    <p>There's nothing to see here... yet!</p>
{{end}}
{{end}}