{{define "title"}}Login{{end}}

{{define "main"}}
<form action='/user/login' method='POST' novalidate>
   {{range .UserLoginForm.NonFieldErrors}}
       <div class='error'>{{.}}</div>
   {{end}}
   <div>
       <label>Email:</label>
       {{with .UserLoginForm.FieldErrors.email}}
           <label class='error'>{{.}}</label>
       {{end}}
       <input type='email' name='email' value='{{.UserLoginForm.Email}}'>
   </div>
   <div>
       <label>Password:</label>
       {{with .UserLoginForm.FieldErrors.password}}
           <label class='error'>{{.}}</label>
       {{end}}
       <input type='password' name='password'>
   </div>
   <div>
       <input type='submit' value='Login'>
   </div>
</form>
{{end}}