{{define "base"}}
<!doctype html>
<html lang='en'>
   <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Dialogue</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
   </head>
   <body class="{{if .IsAuthenticated}}logged-in{{else}}logged-out{{end}}">
       <header>
       </header>
            {{template "nav" .}}
       <main>
          {{with .Flash}}
               <div class='flash'>{{.}}</div>
          {{end}}
          {{template "main" .}}
       </main>
       <footer>Powered by <a href='https://golang.org/'>Go in {{.CurrentYear}}</a></footer>
       <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}