{{define "title"}}Creating the first block of the story{{end}}

{{define "main"}}

<form class="form" method="post">
    <div class="container">
        <div class="content-options-field title-field">
            {{with .StoryForm.FieldErrors.title}}
            <label class='error'>{{.}}</label>
            {{end}}
            <textarea name="title" id="title" placeholder="Write the title of the story"></textarea>
        </div>
        <div class="content-options-field">
            <textarea name="content" id="content" placeholder="Write your story"></textarea>
        </div>
        <div class="content-options-field options-field">
            <textarea name="options" id="options" placeholder="Write options"></textarea>
        </div>
    </div>
    <div class="checkbox-container">
        <input type="checkbox" id="privacy" name="privacy" value="TRUE">
        <label for="privacy">make private?</label>
    </div>
    <div class="button-container">
        <button type="submit">Save</button>
        <button type="reset">Reset</button>
    </div>  
</form>
{{end}}