{{define "title"}}Rendering story{{end}}

{{define "main"}}
<body>
    <div class="container">
        <div class="content-options-field title-field" type="title" name="title" id="title">{{.DataDialogues.FirstBlock.StoryTitle}}</div>
        <div class="content-options-field" type="content" name="content" id="content">{{.DataDialogues.FirstBlock.FirstBlockContent}}</div>
        <div class="content-options-field" type="options" name="options" id="options">
        <ul>
        {{range .DataDialogues.OptionsToBlocks}}
            {{range $key, $value := .}}
                <li><a href="/block?id={{$key}}">{{$value}}</a></li>
            {{end}}
        {{end}}
        </ul>
        </div>
    </div>
        {{if eq .UserID .DataDialogues.FirstBlock.UserID}}
        <div>
        <form action="/editfirstblock" method="get">
            <button name="id" value="{{.DataDialogues.FirstBlock.ID}}">Update</button>
        </form>
        <form method="post" onsubmit="return confirm('Are you sure you want to delete this?');">
            <button type="submit">Delete</button>
        </form>
        </div>
        <div>
            <p>All blocks that related to the story!</p>
            <a href="/firstblock?id={{.DataDialogues.RelatedToStoryBlocks.FirstBlock.ID}}">{{.DataDialogues.RelatedToStoryBlocks.FirstBlock.ID}}</a>
            <ul>
            {{range .DataDialogues.RelatedToStoryBlocks.OtherBlocks}}
                <li><a href="/block?id={{.ID}}">{{.ID}}</a></li>
            {{end}}
            </ul>
        </div>
        {{end}}
</body>
{{end}}